<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<appSettings>
		<!-- The amount of time for the cache to expire, in minutes -->
		<add key="CacheExpiryTime" value="60" />
    <add key="HistoricalStorageStrategy" value="None" />
		<add key="DataFetchingStrategy" value="Google" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.net>
		<requestCaching isPrivateCache="false" defaultPolicyLevel="CacheIfAvailable" />
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>