<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<appSettings>
		<!-- The amount of time for the cache to expire, in minutes -->
		<add key="CacheExpiryTime" value="1" />
		<add key="DataFetchingStrategy" value="OpenExchangeRates" />
		<add key="OpenExchangeRates.ApiKey" value="be2af7ad57044809b5f031d6904faa53" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.net>
		<requestCaching isPrivateCache="false" defaultPolicyLevel="CacheIfAvailable" />
	</system.net>
</configuration>